@use "../../styles/abstracts";

.footer {
  background-color: abstracts.$backgroundDark;
  color: abstracts.$secondary;
  text-align: center;
  height: 11em;
  padding: 3em 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  img {
    width: 12em;
    @include abstracts.respond-to('small') {
      width: unset;
    }
  }
  p {
    width: 150px;
    @include abstracts.respond-to('small') {
      width: unset;
    }
  }
}
