@use "src/styles/abstracts";

.carousel {
  position: relative;
  height: 400px;
 .carousel-container {
   height: 100%;
   img{
     width: 100%;
     height: 100%;
     object-fit: cover;
     @include abstracts.borderRadiumMedium;
   }
   .pagination {
     position: absolute;
     color: abstracts.$backgroundLight;
     bottom: 1em;
     left: 50%;
     transform: translateX(-50%);
   }
 }
 button {
   position: absolute;
   background: transparent;
   border: none;
   cursor: pointer;
   top: 50%;
   transform: translateY(-50%);
   &:focus {
     outline: none;
   }
   &.previous {
     left: 0;
   }
   &.next {
     right: 0;
   }
   img {
     width: 20px;
     @include abstracts.respond-to('small') {
       width: unset;
     }
   }
 }
}
