@use "src/styles/abstracts";

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 0;
  max-width: abstracts.$large_value;
  margin: 0 auto;
  .nav {
    ul {
      display: flex;
      justify-content: space-around;
      width: 13em;
      a {
        &.active {
          border-bottom: solid 2px;
        }
      }
    }
  }
}
