@use "src/styles/abstracts";

.error {
  color: red;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  h1 {
    text-align: center;
    font-weight: abstracts.$fontWeightTitle;
    font-size: 15em;
    margin: .5em;
  }
  p, .link {
    text-align: center;
    margin: 2em 0;
  }
  p {
    font-size: 2em;
  }
  .link {
    display: flex;
    justify-content: center;
  }
}
