@use "../../styles/abstracts";

.section-gallery {
  background-color: abstracts.$backgroundGallery;
  @include abstracts.borderRadiumMedium;
  padding: 1.5em;
  .card-layout {
    max-width: 100%;
    margin: 0 auto;
    .card-container {
      display: flex;
      flex-wrap: wrap;
    }
  }
}
