@use "src/styles/abstracts";

.description-logement {
  .description-container {
    @include abstracts.respond-to('small') {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
  }
  .host-and-rating-disposition {
    text-align: right;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    @include abstracts.respond-to('small') {
      display: unset;
    }
  }
  .block {
    margin: 1em 0;
  }
  .accordions-disposition {
    @include abstracts.respond-to('small') {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 4em;
    }
    .accordion {
      margin: 1em 0;
    }
  }
}
