@use "src/styles/abstracts";

.host {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0 8px 0;
  .block-name {
    text-align: right;
    position: relative;
    right: 1em;
  }
  p {
    color: abstracts.$primary;
    font-weight: 500;
    margin: .5em 3px;
    @include abstracts.respond-to('small') {
      p {
        margin: unset;
      }
    }
  }
  img {
    border-radius: 50%;
    width: 60px;
  }
}
