@use "../abstracts";

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: abstracts.$backgroundDark;
  font-weight: abstracts.$fontWeightTitle;
}

section {
  max-width: abstracts.$large_value;
  margin: 1em auto;
}
